body {
	background-color: white;
	margin: 0;
	padding: 0;
	text-align: center;
}

div, p, table, th, td {
	list-style: none;
	margin: 0;
	padding: 0;
	color: #333;
}

#testIframe {
	margin-left: 10px;
}

<
style type ="text/css">body {
	font: "ו";
	font-size: 12px;
}

a:link, a:visited {
	font-size: 12px;
	color: #666;
	text-decoration: none;
}

a:hover {
	color: #ff0000;
	text-decoration: underline;
}

#Tab {
	margin: 0 auto;
	width: 1300px;
	border: 1px solid #BCE2F3;
}

.Menubox {
	height: 28px;
	border-bottom: 1px solid #64B8E4;
	background: #E4F2FB;
}

.Menubox ul {
	list-style: none;
	margin: 7px 40px;
	padding: 0;
	position: absolute;
}

.Menubox ul li {
	float: left;
	background: #64B8E4;
	line-height: 20px;
	display: block;
	cursor: pointer;
	width: 65px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	border-top: 1px solid #64B8E4;
	border-left: 1px solid #64B8E4;
	border-right: 1px solid #64B8E4;
}

.Menubox ul li.hover {
	background: #fff;
	border-bottom: 1px solid #fff;
	color: #147AB8;
}

.Contentbox {
	clear: both;
	margin-top: 0px;
	border-top: none;
	height: 181px;
	padding-top: 8px;
	height: 100%;
}

.Contentbox ul {
	list-style: none;
	margin: 7px;
	padding: 0;
}

.Contentbox ul li {
	line-height: 24px;
	border-bottom: 1px dotted #ccc;
}